nav#main-nav {
	color: #333;
}

nav#main-nav > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav#main-nav .logo {
	margin: 7px 0;
}

nav#main-nav .social-icons a {
	color: #333;
	margin: 0 6px;
}

nav#main-nav .social-icons a:hover {
	color: #555;
}

nav#main-nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav#main-nav ul li {
	margin: 0 8px;
}

nav#main-nav ul li:hover > a {
	color: #555;
}

nav#main-nav ul li a {
	color: #333;
	text-transform: uppercase;
}

.sub-nav {
	color: white;
	background-color: var(--primary-color);
}

.sub-nav > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}

.sub-nav > div > form label {
	color: white;
	text-transform: uppercase;
	margin-right: 7px;
}

.sub-nav > div > form input {
	width: 280px;
	height: 32px;
	padding-left: 7px;
	border-radius: 0;
	border: 0;
}

.sub-nav > div > form input:focus {
	outline: 0;
}

.sub-nav > div > form button {
	color: white;
	background-color: #333;
	margin-left: -6px;
	width: 50px;
	height: 32px;
	border: 0;
	cursor: pointer;
	transition: 0.3s background-color ease-in;
}

.sub-nav > div > form button:hover {
	background-color: #444;
}