:root {
  --primary-color: #C4302b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1080px;
  overflow: hidden;
  margin: auto;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1.7rem;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  border: 0;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

.sm-btn {
  display: inline-block;
  border: 0;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  border-radius: 6px;
  font-size: 0.9rem !important;
  color: white;
}

.sm-btn:hover {
  opacity: 0.9;
}

.author-name {
  background-color: #333;
}

.genres-action {
  background-color: var(--primary-color);
}

.genres-adventure {
  background-color: green;
}

.genres-rpg {
  background-color: purple;
}

.genres-speed {
  background-color: coral;
}

.genres-sports {
  color: white;
  background-color: steelblue;
}

.article-time {
  color: white;
  background-color: green;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}