:root {
  --primary-color: #C4302b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1080px;
  overflow: hidden;
  margin: auto;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1.7rem;
}

.section-title {
  font-size: 2rem;
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  border: 0;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #ffbc00;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}