#main-platforms {
	color: white;
	background-color: #333;
}

#main-platforms article {
	color: #333;
	background-color: white;
	padding: 1.5rem;
	line-height: 1.5;
}

#main-platforms article > h1 {
	font-weight: 300;
	font-size: 2.3rem;
	margin-bottom: 0.7rem;
	color: var(--primary-color);
}

#main-platforms article > .platforms {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#main-platforms article > .platforms > .platform {
	font-size: 1.1rem;
	margin: 0.5rem;
	padding: 12px;
	border-radius: 6px;
	color: white;
	background-color: #333;
}
